.container__nopension {
  display: flex;
  /* grid-template-rows: 4.5rem 1fr; */
  height: 40vh;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.5rem;
  gap: 0.5rem;
  margin-bottom: 20vh;
}

.container__title {
  width: 100%;
  background: #ffffff;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.container__body {
  width: 100%;
  background: #fff;
  padding: 0.5rem;
  align-items: center;
  border-radius: 5px;
}

.container__title > h1 {
  font-weight: 600;
  font-size: 1.5rem;
}
