.container__nopension {
  display: flex;
  /* grid-template-rows: 4.5rem 1fr; */
  height: 90vh;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  gap: 0.5rem;
  margin-bottom: 80vh;
}

.container__title {
  width: 100%;
  background: #fff;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
}


.container__title > h1{
  font-weight: 600;
  font-size: 1.5rem;

}