<app-menu-funcionario></app-menu-funcionario>

<section class="container__nopension col-xs-12 col-md-12 col-lg-12 col-xl-12">
  <div class="container__title">
    <h1>Carga de informacion de usuario</h1>
  </div>

  <div class="container__title">
    <form class="form">
      <span class="form-title">Carga archivo de pensionados</span>
      <p class="form-paragraph">El tipo de archivo permitido: .xlsx o .cvs</p>
      <p class="form-paragraph">
        Descarga el template para cargar usuarios
        <a href="assets/Archivo-templates/template-excel-no-pension.xlsx"
          >Descarga aqui</a
        >
      </p>
      <label for="file-input" class="drop-container">
        <input
          accept=".xlsx, .cvs"
          (change)="onEventFIleSelected($event)"
          type="file"
          id="file-input"
        />
      </label>
    </form>
  </div>
</section>
