<app-menu-funcionario></app-menu-funcionario>

<section class="container__nopension col-xs-12 col-md-12 col-lg-12 col-xl-12">
  <div class="container__title">
    <h1>Gestion de tramite no pension</h1>
  </div>

  <div class="container__title">
    <form class="form">
      <span class="form-title">Carga archivo de pensionados</span>
      <p class="form-paragraph">El archivo de ser de tipo .xlsx o .cvs</p>
      <label for="file-input" class="drop-container">
        <input
          accept=".xlsx, .cvs"
          (change)="onEventFIleSelected($event)"
          type="file"
          id="file-input"
        />
      </label>
    </form>
  </div>

  <div class="container__body contenedor-tramites-g col-xl-12">
    <div class="contenedor-tramites">
      <table class="table table-responsive-xl table-striped table-hover">
        <thead class="table">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Identificacion</th>
            <th scope="col">Nombres</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of pension; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ user.identificacion }}</td>
            <td>{{ user.nombrecompleto }}</td>
            <td>{{ user.estado }}</td>
            <td>
              <a
                class="btn btn-primary"
                (click)="onEventUpdateUser(user.identificacion)"
                >Gestionar</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [(collectionSize)]="collectionSize"
        [(page)]="page"
        [(pageSize)]="pageSize"
        [maxSize]="5"
        (pageChange)="onEventRefreshData()"
      >
      </ngb-pagination>
    </div>
  </div>
</section>
